@model RoomBooking.MVC.Models.ViewModels.BookingViewModel
@{
    ViewData["Title"] = "Calendar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.Partial("_LayoutLogInUserHeader")

<div id="content-1">
    <div class="col" style="margin-top: 100px;">
        <div class="card shadow mb-3">
            <div class="row">
                <div class="col-md-6 ml-auto mr-auto">
                    <div class="box box-primary">
                        <div class="box-body ">
                            <div class="col">
                                <div class="form-group">
                                    <label>
                                        <strong>Wybierz kalendarz sali</strong>
                                    </label>

                                    <select class="form-control" id="chooseRoom">
                                        <option value="" id="">Wybierz pożądaną salę lub wszystkie sale aby wyświetlić kalendarz</option>
                                        <option value="0" id="0">Wszystkie sale</option>
                                        @foreach (var room in Model.Rooms)
                                        {
                                            <option value="@room.Id" id="@room.Id">@room.Name</option>
                                        }
                                    </select>
                                    <p></p>
                                    <div class="form-group">
                                        <p></p>
                                        <div id="div1"></div>
                                        <input type="button" class="btn btn-primary btn-sm" id="button1" value="Odśwież"/>
                                    </div>
                                </div>
                            </div>
                            <div id="calendar"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    <script type="text/javascript">
        $(document).ready(function() {

            $('#calendar').fullCalendar({
                header:
                {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'month,agendaWeek,agendaDay'
                },
                buttonText: {
                    today: 'today',
                    month: 'month',
                    week: 'week',
                    day: 'day'
                },

                events: function(start, end, timezone, callback) {
                    $('#chooseRoom').on('change',
                        function() {
                            var id = $(this).val();
                            $.ajax({
                                url: ('/Booking/CalendarGet/' + id),
                                type: "GET",
                                dataType: "JSON",

                                success: function(result) {
                                    var events = [];

                                    $.each(result,
                                        function(i, data) {
                                            events.push(
                                                {
                                                    title: data.userId,
                                                    description: data.roomId,
                                                    start: moment(data.starTime).format('YYYY-MM-DD HH:mm'),
                                                    end: moment(data.endTime).format('YYYY-MM-DD HH:mm'),
                                                    backgroundColor: "#bfbfbf",
                                                    borderColor: "#000000"
                                                });
                                        });

                                    callback(events);
                                }
                            });
                        });

                },
                eventRender:
                    function(event, element) {
                        element.qtip(
                            {
                                content: event.description
                            });
                    },

                editable: false
            });

        });
        $(document).ready(function() {
            $("#button1").click(function() {
                $("#chooseRoom").load('@Url.Action("Calendar")');
                window.location.reload();
            });
        });
    </script>
}