@using System.Globalization
@using System.Linq
@model RoomBooking.MVC.Models.ViewModels.BookingViewModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.Partial("_LayoutLogInUserHeader")



<div id="content-1">
    <div class="col" style="margin-top: 100px;">
        <div class="card shadow mb-3">
            <div class="card-header py-3">
                <p class="text-primary m-0 font-weight-bold" style="color: rgb(0, 0, 0);">Edycja rezerwacji</p>
            </div>
            @Html.Partial("_ViewData")
            <div class="card-body">
                <form asp-controller="Booking" asp-action="Edit" metod="post">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <input type="hidden" asp-for="booking.Id" />

                    <div class="form-row">
                        <div class="col">
                            <div class="form-group">
                                <label asp-for="room.Id">
                                    <strong>Wybierz salę</strong>
                                </label>
                                <select asp-for="room.Id" class="form-control" id="chooseRoom">
                                    <option value="@Model.room.Id">@Model.room.Name</option>
                                    @foreach (var room in Model.Rooms)
                                    {
                                        @if (!(room.Id == Model.room.Id))
                                        {
                                            <option value="@room.Id">@room.Name</option>
                                        }
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="col"></div>
                    </div>

                    <div class="form-row">
                        <div class="col">
                            <div class="form-group">
                                <label asp-for="booking.Date" class="control-label">
                                    <strong>Data</strong>
                                </label>
                                <input asp-for="booking.Date" class="form-control">
                                <span asp-validation-for="Date" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col"></div>
                    </div>

                    <div class="form-row">
                        <div class="col">
                            <div class="form-group">
                                <label asp-for="booking.StarTime">
                                    <strong>Godzina rozpoczęcia</strong>
                                </label>

                                <select asp-for="booking.StarTime" asp-items="Model.ListOfTimeIntervals" class="form-control">

                                    @* <option value="@Model.booking.StarTime" disabled selected> @String.Format("{0:HH:mm}", Model.booking.StarTime)    *@
                                    <option value="@Model.booking.StarTime" selected>
                                        @String.Format("{0:HH:mm}", Model.booking.StarTime)


                                        @* <input type="hidden" asp-for="booking.StarTime" class="form-control"></input> *@
                                    </option>
                                    @*                                     @foreach (var item in Model.ListOfTimeIntervals) *@
                                    @*                                     { *@
                                    @*                                         if (item.Value == Model.booking.StarTime.ToString("HH:mm")) *@
                                    @*                                         { *@
                                    @*                                             <option asp-items="@Model.booking.StarTime" value="@Model.booking.StarTime" type="hidden" disabled selected>@Model.booking.StarTime</option> *@
                                    @*                                             <input type="hidden"  asp-for="booking.StarTime" class="form-control"> *@
                                    @*                                         } *@
                                    @*                                     } *@
                                    <span asp-validation-for="StarTime" class="text-danger"></span>
                                </select>
                            </div>
                        </div>
                        <div class="col"></div>
                    </div>

                    <div class="form-row">
                        <div class="col">
                            <div class="form-group">
                                <label asp-for="booking.EndTime">
                                    <strong>Godzina zakończenia</strong>
                                </label>

                                <select asp-for="booking.EndTime" asp-items="Model.ListOfTimeIntervals" class="form-control">
                                    <option value="@Model.booking.EndTime" selected> @String.Format("{0:HH:mm}", Model.booking.EndTime)</option>
                                    <span asp-validation-for="EndTime" class="text-danger"></span>

                                </select>
                            </div>
                        </div>
                        <div class="col"></div>
                    </div>

                    <div class="form-group">
                        <button class="btn btn-primary btn-sm" type="submit">Zapisz zmiany</button>
                    </div>
                </form>
                <div>
                    <a asp-action="List">Powrót do listy</a>
                </div>
            </div>
        </div>
        <div class="card shadow"></div>
    </div>
</div>